# Force consistent line endings
* text=auto

# Cố định xuống dòng LF cho code
*.cs text eol=lf
*.cshtml text eol=lf
*.js text eol=lf
*.css text eol=lf

# Windows-style cho file batch
*.bat text eol=crlf
