<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/_LayoutUser/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/style.css" type="text/css">
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/_LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/_LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/_LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/_LayoutAdmin/assets/images/favicon.ico" />
</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <partial name="~/Views/Shared/Partials/_HumbergerPartial.cshtml" />  
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <partial name="~/Views/Shared/Partials/_HeaderPartial.cshtml" /> 
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <div class="m-2 p-2">
    @RenderBody()
    </div>
    <partial name="~/Views/Shared/Partials/_FooterPartial.cshtml" />
    
    <!-- Js Plugins -->
  
    <!-- Js Plugins -->
    <script src="~/_LayoutUser/js/jquery-3.3.1.min.js"></script>
    <script src="~/_LayoutUser/js/bootstrap.min.js"></script>
    <script src="~/_LayoutUser/js/jquery.nice-select.min.js"></script>
    <script src="~/_LayoutUser/js/jquery-ui.min.js"></script>
    <script src="~/_LayoutUser/js/jquery.slicknav.js"></script>
    <script src="~/_LayoutUser/js/mixitup.min.js"></script>
    <script src="~/_LayoutUser/js/owl.carousel.min.js"></script>
    <script src="~/_LayoutUser/js/main.js"></script>
    <!-- plugins:js -->
    <script src="~/_LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/_LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="~/_LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/_LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
