@using WebBanHang.DTOs
@using WebBanHang.Models.Models
@model IEnumerable<Category>
<ul>
@foreach(var item in Model)
{
        <li><a asp-arae="Customer" asp-controller="Food" asp-action="Category" asp-route-id="@item.CategoryId">@item.CategoryName</a></li>
}
</ul>
